<nav class='top-bar' data-topbar>
  <ul class='title-area'>
    <li class='name'>
      <h1><%= link_to 'My Blog', root_path %></h1>
    </li>
  </ul>

  <section class='top-bar-section'>
    <ul class='left'>
      <li class=<%= controller_name == 'posts' ? 'active' : '' %>><%= link_to 'Posts', posts_path %></li>
      <li class=<%= controller_name == 'tags' ? 'active' : '' %>><%= link_to 'Tags', tags_path %></li>
    </ul>
  </section>
</nav>
