<div class='row'>
  <%= notice %>

  <h2><%= t('title.tag.index') %></h2>

  <table>
    <thead>
      <tr>
        <th>Name</th>
        <th colspan='2' class='text-center'>Ações</th>
      </tr>
    </thead>

    <tbody>
      <% @tags.each do |tag| %>
        <tr>
          <td><%= tag.name %></td>
          <td><%= link_to t('link.action.edit'), edit_tag_path(tag) %></td>
          <td><%= link_to t('link.action.destroy'), tag, method: :delete,
            data: { confirm: t('data.confirm.destroy', resource: 'tag') } %></td>
        </tr>
      <% end %>
    </tbody>
  </table>

  <%= link_to t('link.action.new', resource: 'tag'), new_tag_path, class: 'button' %>&nbsp;
  <%= link_to t('link.action.back').capitalize, root_path, class: 'button-negative' %>
</div>
