<%= form_for(@post) do |f| %>
  <%= errors_explanation(@post) %>

  <div>
    <%= f.label :title, t('form.labels.title') %>
    <%= f.text_field :title %>
  </div>

  <div>
    <%= f.label :body, t('form.labels.body') %>
    <%= f.text_field :body %>
  </div>

  <div>
    <%= f.submit t('form.action.submit', resource: 'post') %>
  </div>
<% end %>
