<%= notice %>

<h2> Posts </h2>

<table>
	<thread>
		<tr>
			<th>Title</th>
			<th>Body</th>
			<th></th>
			<th></th>
			<th></th>
		</tr>
	</thread>

	<tbody>
		<% @posts.each do |post| %>
			<tr>
				<td><%= post.title %></td>
				<td><%= post.body %></td>
				<td><%= link_to 'Show', post %></td>
				<td><%= link_to 'Update', edit_post_path(post) %></td>
				<td><%= link_to 'Destroy', post, method: :delete, data: { confirm: 'Você realmente deseja apagar o post?' } %></td>
			</tr>
		<% end %>
	</tbody>
</table>

<%= link_to 'Criar Post', new_post_path %>