<%= notice %>

<h2><%= t('title.category.index') %></h2>

<table>
  <thread>
    <tr>
      <th>Name</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thread>

  <tbody>
    <% @categories.each do |category| %>
      <tr>
        <td><%= category.name %></td>
        <td><%= link_to t('link.action.edit'), edit_category_path(category) %></td>
        <td><%= link_to t('link.action.destroy'), category, method: :delete,
          data: { confirm: t('data.confirm.destroy', resource: 'category') } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to t('link.action.new', resource: 'categoria'), new_category_path %>&nbsp;
<%= link_to t('link.action.back').capitalize, root_path %>
